<mat-toolbar style="    -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
  <mat-toolbar-row>
    <img src="http://uploads.webflow.com/57f217ad80f54a0b096d897d/57f21e516a24b2e66a8797b9_aquatic_drones.svg" alt="">
    <span class="Title">Task Manager</span>
    <span class="example-spacer"></span>
    <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/account-profile-avatar-man-circle-round-user-3ce4172e278680ce-512x512.png" alt="">
    <span>L. Skywalker</span>
  </mat-toolbar-row>
</mat-toolbar>
