<mgl-map [DrawPolygon]="{ markerSpread: 140, markerSpreadUnit: 'meters'}" [style]="'mapbox://styles/samsonve/cjfml0hvl122l2ro05yidef66'"
  [zoom]="12.5" [center]="[4.490335, 51.914845]" (load)=" onLoad($event) ">
  <mgl-control>
  </mgl-control>
</mgl-map>
<div class="button-group" [hidden]="drawInitialized">
  <button class="draw-area" color="warn" (click)="draw()" mat-fab>
    <i class="fas fa-crosshairs"></i>
  </button>
  <button class="delete-area" color="warn" (click)="trash()" mat-fab>
    <i class="fas fa-trash-alt"></i>
  </button>
</div>